@jsr:registry=https://npm.jsr.io/
autoInstallPeers=true
dedupePeerDependents=true
frozenLockfile=false
ignorePnpmfile=true
lockfile=false
minimumReleaseAge=0
onlyBuiltDependencies=@larksuite/cli,@parcel/watcher,@swc/core,esbuild,msw,sharp,unrs-resolver
onlyBuiltDependenciesFile=
preferFrozenLockfile=false
preferWorkspacePackages=true
registry=https://registry.npmjs.org/
resolutionMode=highest
strictPeerDependencies=false
useLockfile=false
verifyStoreIntegrity=false
